.imageLeftContainer{
    width: 110%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left:-130px ;
    text-align: left;
}

.contentLeftHolder{
    width:50%;
}



.linkText{
    color: var(--color-dark-blue);
    align-items: center;
    font-weight: bold;
}

@media screen and (max-width:1100px)
{
    .contentLeftHolder{
        width:30%;
        margin-top: 50px;
        margin-left: 0px;
    }

    .imageLeftContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-left:auto ;
        margin-right: auto;
    }
}
/* @media screen and (max-width:1000px)
{
    .imageLeftContainer{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
} */

@media screen and (max-width:1000px)
{
    .imageLeftContainer{
        width: 100%;
        display: block;
       
    }
    .contentLeftHolder{
        width:80%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

  

    .imageLeftHolder{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    
}

@media screen and (max-width:500px) {
    .contentTitle{
        font-size: 26px;
    }
    .contentPara{
        font-size: 14px;
    }
}